# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Multiplayer Dots And Boxes.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\BYTEHOP\Multiplayer Dots And Boxes\.idea\.idea.Multiplayer Dots And Boxes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
